body {
  font-family: "Roboto", sans-serif;
}

.navbar-collapse {
  justify-content: end;
}

img {
  width: 5.375rem;
  height: 1.5625rem;
}

i {
  color: #707070;
}
.card-img-top {
  width: 17.375rem;
  height: 11.25rem;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #212529;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #707070;
}
#tamaño {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-size: 13px;
}

.fprimary {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.fsecondary {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #707070;
}

footer {
  height: 11rem;
}

.logow {
  width: 5.375rem;
  height: 1.5625rem;
  padding-top: 1.1875rem;
  padding-left: 1.25rem;
}
